
<%= form_for :user, url:users_path do |f| %>


   <% if @user.errors.any? %>
   <% @user.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
    <%  end %>
  <% end %>
<body style="background-color: pink;">
<h1 style="text-align: center;">Please, sign up for your profile</h1>
<p style="text-align: center;"><%=f.label "Firstname"%></p>
<p style="text-align: center;"><%= f.text_field :firstname %></p>
<p style="text-align: center;"><%=f.label "Lastname"%></p>
<p style="text-align: center;"><%= f.text_field :lastname %></p>
<p style="text-align: center;"><%=f.label :email %> </p>
<p style="text-align: center;"><%= f.text_field :email %></p>
<p style="text-align: center;"><%=f.label :password %> </p>
<p style="text-align: center;"><%= f.password_field :password %></p>
<p style="text-align: center;"><%=f.label :avatar %> </p>
<p style="text-align: center;"><%= f.file_field :avatar %></p>
<p style="text-align: center;"><%=f.label :age %> </p>
<p style="text-align: center;"><%= f.text_field :age %></p>
<p style="text-align: center;"><%=f.label :gender %> </p>
<p style="text-align: center;"><%= f.select :gender,['male','female'] %></p>
<p style="text-align: center;"><%=f.label :country %> </p>
<p style="text-align: center;"><%= f.text_field :country %></p>
<p style="text-align: center;"><%=f.label :city %> </p>
<p style="text-align: center;"><%= f.text_field :city %></p>
<p style="text-align: center;"><%=f.label :street %> </p>
<p style="text-align: center;"><%= f.text_field :street %></p>
<p style="text-align: center;"><%=f.label :phone %> </p>
<p style="text-align: center;"><%= f.text_field :phone %></p>


<p style="text-align: center;"><%= f.submit "save" %></p>
</body>
<% end %>
